<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd


		http://www.springframework.org/schema/task		
		http://www.springframework.org/schema/task/spring-task.xsd">
    <task:scheduled-tasks scheduler="qbScheduler">
        <task:scheduled ref="channelChecker" method="clearInvalid"
                        cron="*/5 * * * * ?"/>
        <task:scheduled ref="statisticsTimedTask" method="countConnection"
                        cron="*/20 * * * * ?"/>
    </task:scheduled-tasks>
    <!-- <task:annotation-driven scheduler="qbScheduler" mode="proxy"/>
     -->
    <task:scheduler id="qbScheduler" pool-size="10"/>

</beans>