<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:db.properties" />

	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.pool.maxIdle}" />
		<property name="maxTotal" value="${redis.pool.maxTotal}" />
		<property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}" />
		<property name="minIdle" value="${redis.pool.minIdle}" />
	</bean>

	<bean id="shardedJedisPool" class="com.keepthinker.wavemessaging.redis.ShardedJedisPoolFactory">
		<property name="hostPorts" value="${redis.hostPorts}"/>
		<property name="poolConfig" ref="poolConfig"></property>
	</bean>
	
	<bean id="wmStringRedisTemplate" class="com.keepthinker.wavemessaging.redis.WmStringRedisTemplate">
		<property name="shardedJedisPool" ref="shardedJedisPool"/>
	</bean>

</beans> 