<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- startup the client program with java command -->
    <context:component-scan base-package="com.keepthinker.wavemessaging"/>
    <context:property-placeholder location="wm.properties"/>

    <bean id="serverConfig" class="com.keepthinker.wavemessaging.client.model.ServerConfig">
        <property name="port" value="${server.port}"/>
        <property name="host" value="${server.host}"/>
    </bean>

    <bean id="clientStartup" class="com.keepthinker.wavemessaging.client.ClientStartup">
        <property name="serverConfig" ref="serverConfig"/>
    </bean>

</beans>