<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keepthinker.wavemessaging.dao.ClientInfoMapper">

	<insert id="insert" keyProperty="id" keyColumn="id" useGeneratedKeys="true" >
		insert into client_info(client_id, username, password) values
		(#{clientId}, #{username}, #{password});
	</insert>

	<select id="select" resultMap="clientResultMap">
		select <include refid="fullFields"/> from client_info where id = #{id} limit 1
	</select>
	
	<select id="delete">
		delete from client_info where id = #{id}
	</select>
	
	<sql id="fullFields">
	id, client_id, username, password, update_time, create_time
	</sql>

	<resultMap type="com.keepthinker.wavemessaging.dao.model.ClientInfo" id="clientResultMap">
		<result column="id" property="id" />
		<result column="client_id" property="clientId" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="update_time" property="updateTime" />
		<result column="create_time" property="createTime" />
	</resultMap>

</mapper>

